.button1 {
    display: flex;
    padding: 0.125rem 0.75rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.40625rem;
    border: 1px solid var(--button1Stroke);
    background: var(--button1Inactive);
    cursor: pointer;

    color: var(--button1Text);
    font-family: "Roboto Flex";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button1-active {
    background: var(--button1Active);
}