.color-slider-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 13.375rem;
}

.color-slider {
    width: 100%;
    height: 0.375rem;
    border-radius: 0.1875rem;
    cursor: pointer;
}

.color-handle {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2.25px solid #ffffff;
    pointer-events: none;
}